{% load static %}
<!-- Product Section -->
<div class="py-2 py-md-3 bg-light">
    <div class="container-prod" id = "ps4">
        <div class="row justify-content-between align-items-center mb-4">
            <div class="col-md-6">
                <h4 class="mb-0">Our Products</h4>
            </div>
            <div class="col-md-6 text-end">
                <a href="/myapp" class="btn btn-view-all">View All Products</a>
            </div>
        </div>
        <div class="prod">
            <div class="col-md-3">
                <div class="product-card">
                    <div class="product-card-img">
                        <label class="stock bg-success">In Stock</label>
                        <img src="{% static 'myapp/images/p4.webp' %}" alt="Product">
                    </div>
                    <div class="product-card-body">
                        <p class="product-brand">HP</p>
                        <h5 class="product-name">
                           <a href="">
                                HP Laptop 
                           </a>
                        </h5>
                        <div>
                            <span class="selling-price">$500</span>
                            <span class="original-price">$799</span>
                        </div>
                        <div class="mt-2">
                            <a href="" class="btn btn1">Add To Cart</a>
                            <a href="" class="btn btn1"> <i class="fa fa-heart"></i> </a>
                            <a href="" class="btn btn1"> View </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-card">
                    <div class="product-card-img">
                        <label class="stock bg-success">In Stock</label>
                        <img src="{% static 'myapp/images/p7.webp' %}" alt="Red MI Note 8">
                    </div>
                    <div class="product-card-body">
                        <p class="product-brand">MI</p>
                        <h5 class="product-name">
                           <a href="">
                                Red MI Note 8
                           </a>
                        </h5>
                        <div>
                            <span class="selling-price">$200</span>
                            <span class="original-price">$300</span>
                        </div>
                        <div class="mt-2">
                            <a href="" class="btn btn1">Add To Cart</a>
                            <a href="" class="btn btn1"> <i class="fa fa-heart"></i> </a>
                            <a href="" class="btn btn1"> View </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-card">
                    <div class="product-card-img">
                        <label class="stock bg-success">In Stock</label>
                        <img src="{% static 'myapp/images/p5.webp' %}" alt="Mens Shirt">
                    </div>
                    <div class="product-card-body">
                        <p class="product-brand">Levis</p>
                        <h5 class="product-name">
                           <a href="">
                                Mens Shirt 
                           </a>
                        </h5>
                        <div>
                            <span class="selling-price">$299</span>
                            <span class="original-price">$359</span>
                        </div>
                        <div class="mt-2">
                            <a href="" class="btn btn1">Add To Cart</a>
                            <a href="" class="btn btn1"> <i class="fa fa-heart"></i> </a>
                            <a href="" class="btn btn1"> View </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-card">
                    <div class="product-card-img">
                        <label class="stock bg-success">In Stock</label>
                        <img src="{% static 'myapp/images/p6.webp' %}" alt="Head Phone">
                    </div>
                    <div class="product-card-body">
                        <p class="product-brand">Asus</p>
                        <h5 class="product-name">
                           <a href="">
                                Head Phone
                           </a>
                        </h5>
                        <div>
                            <span class="selling-price">$399</span>
                            <span class="original-price">$499</span>
                        </div>
                        <div class="mt-2">
                            <a href="" class="btn btn1">Add To Cart</a>
                            <a href="" class="btn btn1"> <i class="fa fa-heart"></i> </a>
                            <a href="" class="btn btn1"> View </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
